
<mat-card center class="example-card">
  <mat-card-header>    
    <img mat-card-image [src]="card.pic" alt="Photo of a Shiba Inu">
  </mat-card-header>
  
  <mat-card-content>
      <mat-card-title>{{card.name}}</mat-card-title>
    <p>
      {{card.description}}
    </p>
  </mat-card-content>
  <mat-card-actions class="buttons">
    <button mat-raised-button color="{{color}}" (click)="onLike(card)"
      matBadge="{{card.likes}}"  
      matBadgePosition="after" 
      matBadgeColor="{{colorBadge}}">LIKE</button>
    <button id="share-button"  mat-raised-button color="link" (click)="onShare()">SHARE</button>
  </mat-card-actions>
</mat-card>